# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html
# mysql 8.0.0

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/


[mysql]
default-character-set=utf8
